<div class="client-list-container">
    <mat-toolbar>
      <span>Clientes</span>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" [routerLink]="'edit'">Adicionar Cliente</button>
    </mat-toolbar>
  
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Company Name Column -->
      <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef> Nome Fantasia </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.companyName}} </mat-cell>
      </ng-container>
  
      <!-- Business Name Column -->
      <ng-container matColumnDef="businessName">
        <mat-header-cell *matHeaderCellDef> Razão Social </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.businessName}} </mat-cell>
      </ng-container>
  
      <!-- CNPJ Column -->
      <ng-container matColumnDef="cnpj">
        <mat-header-cell *matHeaderCellDef> CNPJ </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.cnpj}} </mat-cell>
      </ng-container>
  
      <!-- User Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.user?.email}} </mat-cell>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let client">
          <button mat-icon-button color="primary" (click)="editClient(client)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteClient(client.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  