<div class="client-form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ isEditMode ? 'Editar Cliente' : 'Criar Cliente' }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Nome Fantasia</mat-label>
              <input matInput formControlName="companyName" required>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Razão Social</mat-label>
              <input matInput formControlName="businessName">
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>CNPJ</mat-label>
              <input matInput mask="00.000.000/0000-00" formControlName="cnpj" required>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>CEP</mat-label>
              <input matInput mask="00000-000" formControlName="addressZipCode">
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Rua</mat-label>
              <input matInput formControlName="addressStreet">
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Número</mat-label>
              <input matInput type="number" formControlName="addressNumber">
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Complemento</mat-label>
              <input matInput formControlName="addressComplement">
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Bairro</mat-label>
              <input matInput formControlName="addressDistrict">
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Cidade</mat-label>
              <input matInput formControlName="addressCity">
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Estado</mat-label>
              <input matInput formControlName="addressState">
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" type="email" required>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="password" type="password" required>
            </mat-form-field>
          </div>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!clientForm.valid">{{ isEditMode ? 'Atualizar' : 'Criar' }}</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  