<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" mode="side" [opened]="!!user">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list *ngIf="user">
        <mat-list-item [routerLink]="'/'">
            <button mat-button>
                <mat-icon>home</mat-icon>
                <span>Início</span>
            </button>
        </mat-list-item>
        <ng-container *ngFor="let item of menuItems">
            <mat-list-item *ngIf="item.perms.includes(user.role)" (click)="onMenuItemClick(item)" [routerLink]="item.path">
                <button mat-button>
                    <mat-icon matIconPrefix>{{ item.icon }}</mat-icon>
                    <span>{{ item.label }}</span>
                </button>
            </mat-list-item>
        </ng-container>
        <mat-list-item (click)="logout()">
            <button mat-button>
                <mat-icon>logout</mat-icon>
                <span>Log-out</span>
            </button>
        </mat-list-item>
      </mat-nav-list>
      <mat-spinner *ngIf="!user"></mat-spinner>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="user">
          <mat-icon>menu</mat-icon>
        </button>
        <span>PAC</span>
      </mat-toolbar>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  